@import "block/_page-header.less";
@import "block/_main-nav.less";
@import "block/_download.less";
@import "block/_advantages.less";
@import "block/_contacts.less";
@import "block/_news.less";
@import "block/_price.less";
@import "block/_reviews.less";
@import "block/_page-footer.less";
@import "block/_site-list.less";
@import "block/_intro.less";
@import "block/_allname.less";
@import "block/_travel.less";
@import "block/_input-contacts.less";
@import "block/_platform.less";
@import "block/_filter-text.less";
@import "block/_form-footer.less";
@import "block/_modal-error.less";

body {
  width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #ffffff;
  background-image: url("../img/town.png");
  background-repeat: no-repeat;
  margin: 0;
}

.page-header__logo {
  padding-left: 20px;
}

.site-list {
  list-style: none;
}

.visually-hidden {
  visibility: hidden;
}

.button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
}
