.contacts {
  text-align: center;

  &__title {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: #283645;
  }

  &__phone,
  &__email,
  &__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    color: #d22856;
    text-decoration: none;
  }

  &__phone-number,
  &__email-post,
  &__text-adress {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    color: #283645;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: @tablet-width) {
  .contacts__info {
    display: grid;
    grid-template-areas:
      "tel post"
      "adress adress";
  }

  .contacts__info-tel {
    grid-area: tel;
  }

  .contacts__info-post {
    grid-area: post;
  }

  .contacts__info-adress {
    grid-area: adress;
  }
}

@media (min-width: @desktop-width) {
  .contacts__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
