.download {
  &__slogan {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 58px;
    margin-top: 34px;
    margin-bottom: 14px;
  }

  &__soft {
    margin: auto;
    margin-top: 27px;
    text-align: center;
    //width: 280px;
    //height: 55px;
  }

  &__soft__button {
    display: block;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 30px;
    //line-height: 18px;
    padding-top: 11px;
    width: 280px;
    height: 55px;
    box-sizing: border-box;
  }

  &__soft__button:hover {
    color: #d22856;
    border-color: #ffffff;
    background-color: #ffffff;
  }

  &__soft__button:active {
    color: fade(#d22856, 30%);
    border-color: #ffffff;
    background-color: #ffffff;
  }

  &__legend {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 31px;
  }

  &__wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  & picture {
    height: 285px;
  }
}

@media (max-width: @mobile-width-only) {
  .download__slogan {
    margin-bottom: 32px;
  }

  .download__store {
    width: 100%;
    background-color: #1d2631;
  }
}

@media (min-width: @tablet-width) {
  .download_img {
    display: none;
  }

  .download {
    background-image: url("../img/mobile-tablet.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75px;
    background-color: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile-tablet@2x.png");
      background-size: 660px auto;
    }

    & picture {
      height: auto;
    }
  }

  .download__list {
    margin-bottom: 28px;
    padding-right: 50px;
    padding-left: 55px;
  }

  .download__legend {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }

  .download__slogan {
    font-size: 40px;
    line-height: 48px;
    margin: 0 45px;
    margin-left: 55px;
  }

  .download__wrapper {
    position: relative;
    padding-right: 50%;
    padding-bottom: 85px;
    padding-top: 95px;
  }

  .download__store {
    background-color: none;
  }

  .download__soft__button {
    width: 300px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .download_img {
    display: none;
  }

  .download {
    background: none;
  }

  .download__wrapper {
    width: 960px;
    height: 645px;
    background-image: url("../img/mobile-desktop.png");
    background-repeat: no-repeat;
    background-position-x: 25px;
    background-position-y: 100px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/mobile-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  .download__slogan {
    font-size: 50px;
    line-height: 68px;
    padding-right: 650px;
    margin-left: 35px;
  }

  .download__store {
    background-color: none;
    padding-right: 650px;
  }

  .download__soft {
    margin-top: 35px;
  }

  .download__soft__button {
    font-size: 21px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 16px;
    margin-left: 0;
    margin-right: 13px;
  }

  .download__list {
    margin-top: 70px;
    margin-bottom: 45px;
    padding-left: 47px;
    padding-right: 60px;
  }

  .download__legend {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
}
