.foto {
  &__labal {
    width: 140px;
    height: 36px;
    background: #d22856;
    font-size: 12px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }

  &__post {
    width: 280px;
    background: #f2f2f2;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__autor {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #283645;
  }

  &__time-ago {
    font-weight: 300;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #283645;
  }

  &__message {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #283645;
  }

  &__hart-count {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #d22856;
    text-transform: uppercase;
  }

  &__panorama {
    margin: -20px;
    margin-bottom: 25px;
  }

  &__caption {
    padding-left: 17px;
  }
}
