.main-nav {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background-color: #283645;
  position: relative;
  width: auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list a {
    color: #ffffff;
    text-transform: uppercase;
  }
}

.main-nav--closed {
  display: none;
}

.main-nav-link {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #283645;
  border-top: 1px solid fade(#ffffff, 15%);
  //border-bottom: 1px solid #000000;
}

.main-nav__list a:hover {
  color: #d22856;
}

.main-nav__list a:active {
  color: fade(#d22856, 30%);
}

@media (min-width: @tablet-width) {
  .main-nav-link {
    position: relative;
    display: block;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #283645;
    border-top: 1px solid fade(#ffffff, 15%);
    //border-bottom: 1px solid #000000;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;
    width: 600px;
  }

  .main-nav {
    display: block;
    background: none;
  }

  .main-nav a {
    background: none;
    border-top: none;
    border-bottom: none;
  }

  .main-nav__list a {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }

  .main-nav__item {
    margin-left: -20px;
  }
}
