.news {
  display: none;


  &__wrapper {
    height: 276px;
  }

  &__image {
    height: 276px;
    width: 238px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    padding-top: 40px;
    margin-bottom: 0;
  }

  &__description,
  &__allnews {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 8px;
  }

  &__description br {
    display: none;
  }

  &__allnews {
    color: #d22856;
  }
}

@media (min-width: @tablet-width) {
  .news {
    display: block;
    padding-bottom: 109px;

    &__wrapper {
      margin-top: 25px;
      padding: 0 20px;
    }

    &__title {
      padding-top: 42px;
    }

    &__description {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__description br {
      display: block;
    }

    &__description br:first-child {
      display: none;
    }
  }

  .news__list {
    position: relative;
    padding-left: 310px;
  }

  .news__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 238px;
    height: 276px;
    background-image: url("../img/24time-tablet.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: @desktop-width) {
  .news {
    display: block;
    min-height: 380px;
    background: #f2f2f2;
    margin: 0 auto;
    margin-top: 0;

    &__wrapper {
      margin: 0 auto;
      width: 960px;
      height: 345px;
      margin-top: 0;
      padding: 0 20px;
      box-sizing: border-box;
    }

    &__description br:last-child {
      display: none;
    }

    &__description br:first-child {
      display: block;
    }

    &__title {
      padding-top: 42px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
      //word-spacing: 10px;
    }

    &__title br {
      display: none;
    }

    &__list {
      position: relative;
      padding-left: 360px;
      padding-top: 100px;
      //padding-right: 20px;
      padding-right: 0;
    }

    &__description {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding-top: 15px;
      margin-bottom: 30px;
    }

    &__allnews {
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }

    &__list::before {
      display: none;
    }

    &__list::after {
      content: "";
      position: absolute;
      top: 80px;
      left: -10px;
      width: 298px;
      height: 345px;
      background-image: url("../img/24time.svg");
      background-repeat: no-repeat;
    }
  }
}
