.page-header {
  display: flex;
  flex-direction: column;
  //background-color: fade(#000000, 30%);
  //background-image: url("../img/town.png");
  color: #ffffff;

  &__logo {
    width: 74px;
    height: 23px;
  }

  &__logo-and-button {
    position: relative;
    height: 66px;
    background: #283645;
    //background-color: fade(#000000, 30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo-and-button {
    min-height: 110px;
  }

  .page-header__logo {
    padding-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-and-button {
    height: auto;
    background: none;
    padding: 0;
  }

  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 auto;
  }

  .page-header__wrapper {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}
