.platform {
  background: #e5e5e5;
  border: none;
  padding-bottom: 42px;
  padding-top: 42px;

  &__legend {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #D22856;
    text-transform: uppercase;
    margin-bottom: 52px;
  }

  &__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #283645;
    margin-bottom: 62px;
  }

  &__item:last-of-type {
    margin-bottom: 0;
  }
}
