.price {
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  overflow-x: hidden;
  padding-top: 82px;

  &__table {
    border-collapse: collapse;
  }

  &__table td {
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
  }

  &__item {
    background-color: #ffffff;
  }

  &__name-packet {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #ffffff;
  }

  /*
  &__name-usd {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
  }
  */

  &__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}

td.price__name-box {
  background-color: #283645;
  border-top: none;
  color: #ffffff;
}

.price__name-box p {
  margin: 0;
}

.only-price {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}

@media (max-width: @mobile-width-only) {
  .price__wrapper {
    //width: 100%;
    position: relative;
    // overflow: hidden;
    //margin: 0 auto;
  }

  .slider__toggles {
    margin-bottom: 40px;
  }

  .string-0,
  .string-1,
  .string-2,
  .string-3 {
    display: flex;
  }

  /*.string-0 {
    height: 94px;
  }*/

  .price__table {
    display: flex;
    position: relative;
    right: 530px;
    margin-bottom: 47px;
  }

  .price__table td {
    width: 276px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17px;
    box-sizing: border-box;
  }

  td.price__name-box {
    padding-top: 10px;
  }

  .string-0 {
    height: 100px;
  }

  .string-1,
  .string-2,
  .string-3 {
    text-align: right;
    height: 59px;
    position: relative;
  }

  .string-1::after {
    content: "Розовый фильтр";
    position: absolute;
    right: 401px;
    top: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .string-2::after {
    content: "Смайлики";
    position: absolute;
    right: 450px;
    top: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .string-3::after {
    content: "Комментарии";
    position: absolute;
    right: 421px;
    top: 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .price__name-hit {
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
  }

  .price__name-box2 {
    line-height: 30px;
    padding-top: 19px;
  }

  .price__toggles {
    margin: 45px 0 49px 0;
  }
}

@media (min-width: @tablet-width) {
  .price {
    padding-top: 60px;
  }

  .price__wrapper {
    padding: 0 20px;
  }

  .price__name-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .price__table {
    width: 100%;
    margin-bottom: 58px;
  }

  .price__table td {
    width: 25%;
  }

  .string-0 {
    height: 75px;
  }

  .string-1,
  .string-2,
  .string-3 {
    height: 45px;
  }

  td.price__name-box0 {
    border: 0;
    background: none;
  }

  td.col_0 {
    text-transform: none;
    text-align: left;
    padding-left: 15px;
  }

  .price__name-hit {
    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position-y: -9px;
    background-position-x: -9px;
  }

  .price__toggles .slider__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    padding-top: 30px;
  }

  .only-price {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }

  td.price__name-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 20px;
  }

  .price__wrapper {
    width: 960px;
    padding: 0 10px;
    padding-top: 80px;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  .price__table {
    width: 940px;
  }

  .string-0 {
    height: 94px;
  }

  .string-1,
  .string-2,
  .string-3 {
    height: 59px;
  }

  .price__name-box1,
  .price__name-box2,
  .price__name-box3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }

  .price__name-box1 b,
  .price__name-box2 b,
  .price__name-box3 b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  .price__name-hit {
    background-position-y: 0;
    background-position-x: 0;
  }

  .price__toggles {
    display: none;
  }
}
