.reviews {
  &__wrapper {
    text-align: center;
  }

  &__author-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  &__author-old {
    display: none;
  }

  &__toggle {
    text-align: center;
  }

  &__prev,
  &__next,
  &__image {
    display: none;
  }
}

.slider__toggle--current {
  padding: 0;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border: 3px solid #283645;
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  background: fade(#283645, 30%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: @desktop-width) {
  .reviews__toggles {
    display: none;
  }

  .reviews__prev,
  .reviews__next {
    display: block;
  }

  .reviews__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .reviews__prev {
    position: relative;
    height: 41px;
    width: 25px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .reviews__prev::before {
    top: 10px;
    transform: rotate(-45deg);
  }

  .reviews__prev::after {
    top: 30px;
    transform: rotate(45deg);
  }

  .reviews__prev::before,
  .reviews__prev::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: fade(#283645, 30%);
  }

  .reviews__next {
    position: relative;
    height: 41px;
    width: 25px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

  .reviews__next::before {
    top: 10px;
    transform: rotate(45deg);
  }

  .reviews__next::after {
    top: 30px;
    transform: rotate(-45deg);
  }

  .reviews__next::before,
  .reviews__next::after {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: fade(#283645, 30%);
  }

  .reviews__prev:hover::before,
  .reviews__prev:hover::after,
  .reviews__next:hover::before,
  .reviews__next:hover::after {
    background-color: fade(#283645, 60%);
  }

  .reviews__prev:active::before,
  .reviews__prev:active::after,
  .reviews__next:active::before,
  .reviews__next:active::after {
    background-color: fade(#283645, 10%);
  }
}

@media (min-width: @tablet-width) {
  .reviews__text {
    order: 1;
  }

  .reviews__author-name {
    order: 2;
  }

  .reviews__author-old {
    display: block;
    order: 3;
  }
}
