.reviews {
  &__wrapper {
    text-align: center;
  }

  &__author-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  &__author-old {
    display: none;
  }

  &__toggle {
    text-align: center;
  }

  &__prev,
  &__next,
  &__image {
    display: none;
  }
}
