.upload {
  &__wrapper {
    text-align: center;
  }

  &__header-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }

  &__form {
    background: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__button {
    width: 280px;
    height: 55px;
    border: 3px solid;
    border-radius: 30px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
  }

  &__button-post {
    border-color: #d22856;
    color: #d22856;
  }

  &__button-cancel {
    border-color: #283645;
    color: #283645;
    opacity: 0.1;
  }
}
